html,body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-color: darkslategray;
}

header{
    background-color: darkcyan;
    color: white;
    text-align: center;
    padding: 10px;
}

h1{
    margin: 0;
}

.form-container{
    background-color: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
}

.btn{
    background-color: darkcyan;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
}